/* RESET CSS */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* RESET CSS */ 

/* COLOR PALLETE */

* {
    --FullBlack : #000;
    --FullWhite : #fff;
    --LightGray : #A4A4A4;
    --DarkGray : #4F4F4F;
    --Green : #39ff14;
    --Yellow : #ffea00;
    --Red : #FF3131;
}

/* GENERAL CSS */

#all-content {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
}

#device-management {
    width: 20vw;
    height: 100vh;
    background: var(--FullBlack);
    color: var(--FullWhite);
}

#main-area {
    width: 80vw;
    height: 100vh;
}




#navigation #nav #links,
#main-area #content,
#main-area #tags-beacon #tags,
#main-area #tags-beacon #tags #technical-info,
#main-area #tags-beacon #update #beacons #status,
#main-area #tags-beacon #update #beacons #charge,
#main-area #cards,
#device-management #date-and-time,
#flux #status, 
#flux #tag {
    display: flex;
    align-items: center;
}

#main-area #tags-beacon {
    width: 75%;
    height: 100%;
}

#main-area #tracking-info {
    width: 25%;
    height: 100%;
}

#device-management #date-and-time {
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

#device-management #date-and-time #date {
    font-size: 0.8em;
}

#device-management #date-and-time #time {
    font-size: 2em;
}

#device-management #devices {
    width: 80%;
    height: 3px;
    background: var(--FullWhite);
    margin: 0 10%;
    border-radius: 10px;
}

#device-management #add-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(85% - 3px);
}

#device-management #add-new i {
    font-size: 8em;
    color: var(--LightGray);
    cursor: default;
    margin: 5% 0;
}

#device-management #add-new p {
    font-size: 1.5em;
    color: var(--LightGray);
    text-align: center;
    margin: 5% 0;
}

#main-area #navigation {
    width: 100%;
    height: 10%;
    background: var(--FullWhite);
}

#main-area #navigation #available1 {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to top, var(--LightGray), var(--FullWhite));
}

#navigation #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 3px);
}


#navigation #nav #links {
    margin-left: 5%;
}

#navigation #nav #links p{
    color: var(--LightGray);
    margin: 0 10%;
}

#navigation #nav #links p:hover{
    color: var(--FullBlack);
}

.active{
    color: var(--FullBlack);
}

#navigation #nav span {
    color: var(--FullBlack);
    font-weight: 700;
}

#navigation #current {
    height: 100%;
    width: 8%;
    background-color: var(--FullBlack);
    margin: 0 0 0 7%;
}

#navigation #nav p {
    margin: 0 5% 0 0;
    font-size: 0.9em;
}

#content{
    width: 100%; 
    height: 90%;
}

#content #tags-beacon {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
}

#content #tags-beacon::-webkit-scrollbar {
    display: none;
}

#content #tags-beacon #area{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: 5% 0;
}

#available2 {
    width: 80%;
    height: 3px;
    background: var(--LightGray);
    margin: 5% 10%;
    border-radius: 5px;
}

#available2 #current {
    width: 100%;
    height: 100%;
    background: var(--FullBlack);
    border-radius: 5px;
}

#tags-beacon #tags {
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 10%;
}

#tags-beacon #tags #technical-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}   

#tags-beacon #tags #technical-info p {
    margin: 0 10%;
    width: 100%;
    color: var(--LightGray);
}

#tags-beacon #tags #technical-info i {
    font-size: 1em;
}

.active {
    color: var(--Green);
}

.inactive {
    color: var(--Red);
}

#tags #user {
    font-size: 1.25em;
    margin: 0 0 0 15%;
    font-weight: 700;
    width: 100%;
}

#update {
    margin: 0 10%;
    display: flex;
}

#update h1 {
    margin-bottom: 10px;
}

#update #beacons {
    margin-left: 10%;
    
}

#update #beacons h1 {
    margin-bottom: 10%;
}

#beacons #name {
    font-size: 0.8em;
    font-weight: 700;
    margin: 0 0 10% 0;
    color: var(--LightGray);
}

#beacons #charge {
    margin: 10px 0;
}

#beacons #charge p {
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid var(--FullBlack);
    margin: 0 10px;
}

.high {
    background: var(--Green) !important;
    color: var(--FullBlack) !important;
    font-weight: 700;
}

.medium {
    background: var(--Yellow) !important;
    color: var(--FullBlack) !important;
}

.low {
    background: var(--Red) !important;
    color: var(--FullBlack) !important;
}

#beacons #status p{
    margin: 0 10px;
    font-weight: 700;
}

#cards {
    justify-content: space-between;
    margin: 5%;
    gap: 5%;
    overflow-x: auto;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#cards::-webkit-scrollbar {
    display: none;
}

#main-area #cards h1 {
    font-size: 0.8em;
    margin-bottom: 5%;
}

#cards p {
    font-size: 0.8em;
}

#cards input {
    border: none;
    background: none;
    cursor: pointer;
    padding: 2.5% 10%;
    border-radius: 10px;
    color: var(--LightGray);
}

#cards #btn-views {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
    background: var(--DarkGray);
    border-radius: 10px;
    padding: 0 10px;
    width: 9em;
}

#cards #content {
    display: flex;
    flex-direction: column;
    background-color: var(--LightGray);
    border-radius: 8px;
    border: 1px solid var(--FullBlack);
    width: 12em;
    height: 11em;
}

#cards #content #text {
    margin: 30% 10px 10% 10px;
    font-weight: 500;
}

#cards #content #text span {
    font-weight: 700;
}

#gradient {
    width: 8px;
    height: 100%;
    margin: 0 1%;
    background-image: linear-gradient(to left, var(--LightGray), var(--FullWhite));
}

#wifi {
    background: var(--LightGray);
    border-radius: 10px;
    padding: 10px;
    margin: 10% 1%;
    color: var(--FullBlack);
}

#wifi h1{
    margin-top: 10px;
}

#wifi #connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
}

#wifi #connect .fa-wifi {
    color: var(--Green);
    font-size: 0.7em;
    padding: 6px;
    background: var(--FullBlack);
    border-radius: 100%;
}

#wifi #connect .fa-circle-chevron-down {
    color: var(--DarkGray);
}

#flux {
    background: var(--LightGray);
    border-radius: 10px;
    padding: 10px;
    margin: 10% 1%;
    overflow-y: auto;
    height: 70%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#flux::-webkit-scrollbar {
    display: none;
}


#flux h1 {
    margin: 10px 0;
    font-size: 0.9em;
}

#flux #users {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

#flux #users #tag {
    font-size: 0.7em;
    justify-content: space-between;
}

#flux #name p {
    margin: 5% 0;
    font-size: 1.5em;
    font-weight: 700;
}

#flux #tracking {
    margin: 10% 0;
}

#flux #tracking h1 {
    font-weight: 500;
}

#flux #tracking p {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
}